body {background-color: darkred;}

#lifeContainer {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    max-width: 10%;
    z-index: 2;
    color: whitesmoke;
    background-color: rgb(68, 66, 64);
    border-radius: 25px;
    padding: 0.5%;
    opacity: 0.7;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

.hearts {
    max-width: 30%;
}

.modal {
    display: none;
    background-color: gray;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;}

#modal0 {display: block}
#nextbutton0 {display: block}

.question {
    display: block;
    margin: auto;
    margin-top: 1%;
    width: 75%;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(68, 66, 64);
    border-radius: 25px;
    padding: 1%;
    opacity: 0.7;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    transition: opacity 1s, box-shadow 0.5s;
}
.question:hover {
    opacity: 1;
    filter: blur(0px);
    box-shadow: 0 10px 15px 5px rgba(0,0,0,0.2);
}

.nextBtn {
    display: none;
    margin: auto;
    margin-top: 1%;
    width: 7%;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(68, 66, 64);
    border-radius: 25px;
    opacity: 0.7;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    transition: opacity 1s, box-shadow 0.5s;
}
.nextBtn:hover {
    opacity: 1;
    filter: blur(0px);
    box-shadow: 0 10px 15px 5px rgba(0,0,0,0.2);
}

.cards {
    display: inline-block;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(68, 66, 64);
    border-radius: 25px;
    margin: 1.666%;
    padding: 0;
    width: 29%;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    opacity: 0.7;
    transition: opacity 1s, box-shadow 0.5s;
}
.cards:hover {
    opacity: 1;
    filter: blur(0px);
    box-shadow: 0 10px 15px 5px rgba(0,0,0,0.2);
}

.cardsPicked {
    display: inline-block;
    text-align: center;
    color: whitesmoke;
    border-radius: 25px;
    margin: 1.666%;
    padding: 0;
    width: 29%;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    transition: opacity 1s, box-shadow 0.5s;
    background-color: rgb(69, 171, 72);;
    opacity: 1;   
}

.cardsPickedWrong {
    display: inline-block;
    text-align: center;
    color: whitesmoke;
    border-radius: 25px;
    margin: 1.666%;
    padding: 0;
    width: 29%;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
    transition: opacity 1s, box-shadow 0.5s;
    background-color: rgb(169, 42, 42);
    opacity: 1;  
}

.imgs {
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

#movieContainer {
    display: none;
}

.moviePoster {
    width: 17%;
    margin: 1%;
    border-radius: 15px;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.3);
    transition: opacity 0.5s, box-shadow 0.5s;
}
.moviePoster:hover {
    filter: blur(0px);
    box-shadow: 0 10px 15px 5px rgba(0,0,0,0.5);
}

.linkPDF {
    color: whitesmoke;
}